body, h1, h2, h3, ul, p{
margin: 0;
padding: 0;
}
body{
    background-color: #35424a;
}
#header{
    background-color: #35424a;
    border-bottom: 5px solid coral;
}
#header h1{
    color: #fff;
    font-family: sans-serif;
    padding: 15px 0;
    display: inline-block;
}

#header .logo{
    color: coral;
}
.navbar{
    float: right;
}
.navbar  li{
    display: inline;
}

.navbar li a{
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  padding: 25px 15px;
  display: inline-block; 
}

.navbar li a:hover{
    color: burlywood
}


.continer{
    width: 70%;
    margin: auto;
}

#banner{
    height: 60vh;
    background-image:url(../imeges/photo_2022-12-19_14-27-33.jpg) ;
    color: white;
    background-size: cover;
    background-position: center -200px;
    text-align: center;
    font-family: sans-serif;
    color: coral;
}
#banner h1{
    font-size: 56px;
    margin-bottom: 25px;
    padding-top: 150px;
}

#newsletter{
    background-color: #35424a;
    color: #fff;
    font-family: sans-serif;
    padding: 20px 0;     
    display: inline-block;
    width: 100%;  
}

#newsletter .left{
    float: left;
}

#newsletter .right{
float: right;
}

#newsletter input{
    padding: 5px;
}

button{
    padding: 7px 15px;
    border: none;
    background-color: coral;
    color: white;
    margin: left 5px; ;

}

#courses{
    padding: 30px 0;  
}

.box{
    width: 33.3%;
    float: left;
    text-align: center;
    font-family:sans-serif ;
}

.box img{
    max-width: 100%;
    width: 120px;
}
.clr{
    clear: both;
}

#footer{
    padding: 50px;
    text-align: center;
    background-color: coral;
    color: #fff;
    margin: 40px;
}

   
